


div 
{
    /*height: 16vh;*/


 
}

nav {
    color: #fff;
    background-color: #3949ab;
    width: 100%;
   
  
    padding-left: 5%;
    padding-right: 5%;
    font-weight:300;
    font-size : 1vw;
    
}

#logo{
font-weight: 200;
    font-size : 2.2vw;
    }
/*#sec1 {
    position:relative;
    background: url("../img/first_page-01.jpg");
    height:100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/

#sec1 h1 {
    font-size: 35px;
}

#sec1{
    
 
    padding-top: 10%;
    padding-bottom: 10%;
   
    padding-left : 10%;
    padding-right :10%;
       
}

#button{
    background-color: white;
    border : 1px #3949ab solid;
    color :#3949ab;
    border-radius: 0px;
    
    
}
#button:hover{
    background-color: #3949ab;
    color :white;
    border-radius: 0px; 
}

#button_first_page
{
    margin-top:10%;
    margin-bottom:15%;
}

.button_sec
{
    display:block;
    margin-right:auto;
    margin-left:auto;
    background-color: white;
    border : 1px #3949ab solid;
    color :#3949ab;
    border-radius: 0px;
    margin-bottom: 5px;
}

.button_sec:hover{
    background-color: #3949ab;
    color :white;
    border-radius: 0px;
}


.sec2{
    width: 85%;
}

.sec2 .card
{  
    margin-left : 10%;
    margin-right: 10%;
    margin-bottom: 15%;
    margin-top: 25%;
}

.series_title
{
/*font-style: italic;
    font-weight: thin;*/
    font-size: 45px;
    margin-top:3%;
    
    text-align: center;

}

#line_serie_title{
    margin-bottom: 4%;
   color: #424242;
}

#last_button
{
    margin-top: 45px;
    margin-bottom: 20px;
}

#social_footer
{
    margin-top: 55px;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #3949ab; 
    width :100%;
    margin-bottom: 0;
}

